[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
[submodule "libs/cgltf"]
	path = libs/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/glTF-Sample-Models"]
	path = libs/glTF-Sample-Models
	url = https://github.com/KhronosGroup/glTF-Sample-Models.git
